@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: .8em;
  height: .8em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: .225em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: theme('colors.slate.500');
  border-radius: .4em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.400');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flip-h {
    transform: rotateX(0.5turn);
  }
}
