@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: .8em;
  height: .8em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: .225em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: theme('colors.slate.500');
  border-radius: .4em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.400');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flip-h {
    transform: rotateX(0.5turn);
  }
}
